@page
@model VisualizarModel
@{
    ViewData["Title"] = "Home page";
}
@using CRUD.Models

<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Data</th>
                <th>Observações</th>
                <th>Botões</th>
            </tr>
        </thead>

        <tbody>

            @foreach(Agendamento agendamento in Model.ListaAgendamentos)
            {
                <tr>
                    <td>
                        @agendamento.Id
                    </td>

                    <td>
                        @agendamento.Nome
                    </td>

                    <td>
                        @agendamento.Telefone
                    </td>

                    <td>
                        @agendamento.DataAgendamento
                    </td>

                    <td>
                        @agendamento.Observacoes
                    </td>

                    <td id="colBotao">
                        <a asp-page="/Editar" asp-route-id="@agendamento.Id" class="botao botao-visualizar" >Editar</a>

                        <a asp-page="/Deletar" asp-route-id="@agendamento.Id" class="botao botao-visualizar" >Deletar</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>

    <div class="botao-div">
        <a class="botao" href="./Adicionar">Adicionar Novo</a>
    </div>
</div>
